*{
    margin: auto;
    padding: 0;
}
a{
    list-style: none;
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
body{
    width: 1326px;
    height: 100%;
    font-family: Arial,Verdana,"Microsoft Yahei","Pingfang SC","Simsun";
    font-size: 14px;
    color: #333;
}
.clear_news{
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

